# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Model Files
models/*.pkl
models/*.joblib

# Outputs
outputs/

# OS Files
.DS_Store
Thumbs.dbdata/processed/
models/
outputs/
*.pkl
*.csv
data/processed/
models/
outputs/
*.pkl
*.csv
